entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "run usps_api.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 usps_api.py"

[[workflows.workflow]]
name = "run googlemapsapi.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 googlemapsapi.py"

[[workflows.workflow]]
name = "run geo_codes.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 geo_codes.py"

[[workflows.workflow]]
name = "run slcgeocode.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 slcgeocode.py"

[[workflows.workflow]]
name = "run jeffcoschooldistricts.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3  jeffcoschooldistricts.py"

[[workflows.workflow]]
name = "Run Flask App"
author = 170199
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[workflows.workflow]]
name = "run censusapi.py"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 censusapi.py"

[[workflows.workflow]]
name = "poetry"
mode = "sequential"
author = 170199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry export -f requirements.txt --output requirements.txt --without-hashes"

[[ports]]
localPort = 5000
externalPort = 80
